body {
    margin: 0;
}

.flexbox {
    display: flex;

}

.color1 {
    width:66%;
}

.color2 {
    width: 33%;
}

#red {
    width: 33%;
    background-color: #e74c3c;
}

.ligne2 {
    width: 100%;
}

#orange {
    width: 33%;
}

#gray {
    width: 33%;
}

#twoRaw {
    width: 100%;
    display: flex;
}

#TwoRawThree {
    display: flex;
}

#yellow {
    flex-basis: 33%;
    background-color: yellow;
}

